.div{
    background: #CAE1E4;
    border: 5px solid #94A5A7;
    width: 50%;
}

button{
    background: #CAE1E4;
    border: 2px solid #94A5A7;
}
.div__crear{
    background: #66A5BB;
    border: 2px solid #497889;
    margin: 10px;
    padding: 5px;
    display: inline-block;
}
a{
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
.label__manejo{
    background: #CAE1E4;
    border: 2px solid #94A5A7;
}
.icono{
    color: #000;
}
.manejoform{
    display: inline;
    
    
}
.infodetallada{
    display: none;
}
table{
    border: 2px solid #94A5A7;
    background: #CAE1E4;
    text-align: center;
}

td{
    border: 2px solid #94A5A7; 
}

